<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>Musiko</title>
		<link rel=stylesheet href=app/style.css>
		<!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
		<script src=app/icons.js></script>
		<script src=app/vue.js></script>
		
		<script src=app/lang/ae.js></script>
		<script src=app/lang/cn.js></script>
		<script src=app/lang/de.js></script>
		<script src=app/lang/en.js></script>
		<script src=app/lang/eo.js></script>
		<script src=app/lang/es.js></script>
		<script src=app/lang/fr.js></script>
		<script src=app/lang/it.js></script>
		<script src=app/lang/jp.js></script>
		<script src=app/lang/ru.js></script>

		<script src=app/components/Banner.js></script>
		<script src=app/components/Album.js></script>
		<script src=app/components/Tracks.js></script>
		<script src=app/components/Albums.js></script>
		<script src=app/components/AsideQueue.js></script>
		<script src=app/components/AsideSel.js></script>
		<script src=app/components/AsideMixer.js></script>
		<script src=app/components/AsideSearch.js></script>
		<script src=app/components/AsideAlbum.js></script>
		<script src=app/components/AsideTrack.js></script>
		<script src=app/components/AsideArtist.js></script>
		<script src=app/components/AsideParams.js></script>
		<script src=app/components/AsidePan.js></script>
	</head>
	<body>
		<div id=splash><img src=assets/spinner.svg></div>
		<div id=app
			@mousedown=dragStart($event)
			@mouseup=dragEnd($event)
			@mousemove=drag($event)
		>
			<Banner :app=a></Banner>
			<div class=albums>
				<div v-if="a.albums.length > 0">
					<div class=title1>
						{{a.albums.length}} <span class=icon v-html=I.album></span>
					</div>
					<div class=albumsGrid>
						<Album v-for="album, i of a.albums" :key=i :app=a :album=album :goto=true :concise=true></Album>
					</div>
				</div>
			</div>
			<div class=bottomBar>
				<span v-for="c of getIndexs()" @click=goTo(c)>{{c}}</span>
			</div>
			<Asidepan :app=a :icon=I></Asidepan>
			<audio id=audio></audio>
		</div>
		<script>
			const spin = document.getElementById('splash')
			setTimeout(() => spin.classList.add('mask'), 500)
			setTimeout(() => spin.style.display = 'none', 1500)
		</script>
		<script src=app.js></script>
	</body>
</html>
