:root {
  --clrBG: #0a0a0c;
  --clrTEXT: #b6bbc7;
  --clrACCENT: #d02121;
  --clrTEXT_HOVER: white;
  --clrBG_l1: #131317;
  --clrBG_l2: #26262d;
}

[data-theme="dark"] {
  --clrBG: #0a0a0c;
  --clrTEXT: #b6bbc7;
  --clrACCENT: #d02121;
  --clrTEXT_HOVER: white;
  --clrBG_l1: #131317;
  --clrBG_l2: #26262d;
}

[data-theme="deepblue"] {
  --clrBG: #141227;
  --clrTEXT: #7393ff;
  --clrACCENT: #ff0d0d;
  --clrTEXT_HOVER: #fff;
  --clrBG_l1: #080713;
  --clrBG_l2: #292551;
}

[data-theme="forest"] {
  --clrBG: #091009;
  --clrTEXT: #a8ccac;
  --clrACCENT: #da2727;
  --clrTEXT_HOVER: #e7f5d0;
  --clrBG_l1: #102313;
  --clrBG_l2: #415d44de;
}

[data-theme="purple"] {
  --clrBG: #000;
  --clrTEXT: #5b9ef1;
  --clrACCENT: #ea073c;
  --clrTEXT_HOVER: #6ad8f1;
  --clrBG_l1: #070817;
  --clrBG_l2: #390e3e;
}

[data-theme="neon"] {
  --clrBG: #000;
  --clrTEXT: #00ff89;
  --clrACCENT: #ea073c;
  --clrTEXT_HOVER: #58f0ff;
  --clrBG_l1: #08040e;
  --clrBG_l2: #160c4e;
}

[data-theme="greyscale"] {
  --clrBG: #ccc;
  --clrTEXT: #555;
  --clrACCENT: #000;
  --clrTEXT_HOVER: #000;
  --clrBG_l1: #ccc;
  --clrBG_l2: #bfbfbf;
}

[data-theme="sand"] {
  --clrBG: #eed695;
  --clrTEXT: #584326;
  --clrACCENT: #cf3000;
  --clrTEXT_HOVER: #000;
  --clrBG_l1: #ebcf83;
  --clrBG_l2: #e6c260;
}

[data-theme="sail"] {
  --clrBG: #fff;
  --clrTEXT: #2e5779;
  --clrACCENT: #cf0000;
  --clrTEXT_HOVER: #04070a;
  --clrBG_l1: #fff;
  --clrBG_l2: #d7ebf9;
}

[data-theme="opaline"] {
  --clrBG: #c0dcbb;
  --clrTEXT: #236742;
  --clrACCENT: #307fe0;
  --clrTEXT_HOVER: #000;
  --clrBG_l1: #b1d6b9;
  --clrBG_l2: #a0cab9;
}

[data-theme="amaranth"] {
  --clrBG: #a95656;
  --clrTEXT: #291313;
  --clrACCENT: #c2c3d8;
  --clrTEXT_HOVER: #000;
  --clrBG_l1: #b76363;
  --clrBG_l2: #d06f6fc7;
}

* {
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--clrBG_l2);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  cursor: default;
  margin: 0;
  background: var(--clrBG);
  color: var(--clrTEXT);
  font: .9rem system-ui;
  fill: var(--clrTEXT);
}

.hover {
  cursor: pointer;
  color: var(--clrTEXT_HOVER);
}

.hover img {
  filter: brightness(1.1);
}

.selected {
  animation: blinkerSel .2s linear infinite;
}

@keyframes blinkerSel {
  50% {
    opacity: 0;
  }
}

.align > * {
  vertical-align: middle;
  line-height: 10px;
}

img {
  width: 100%;
  max-width: 300px;
  outline: 2px solid var(--clrBG_l1);
  outline-offset: -2px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clrTEXT);
}

a:hover {
  color: var(--clrTEXT_HOVER);
}

.title1 {
  font-weight: bold;
  width: calc(100% - 1px);
  text-transform: uppercase;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}

.icon.rotate {
  transform: rotate(90deg) translateY(1px) translateX(-2px);
}

.icon.noLeft {
  margin-left: -10px;
}

.less {
  font-size: .9em;
  opacity: .7;
}

.miniBt {
  font-size: .9em;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  display: inline-block;
  cursor: pointer;
  background: var(--clrBG_l2);
}

.miniBt:hover {
  background: var(--clrBG);
  color: var(--clrTEXT_HOVER);
  box-shadow: 0 5px 10px var(--clrBG_l2);
}

.blink {
  animation: blinker .2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

aside {
  top: 50px;
  position: absolute;
  bottom: 0;
  width: 340px;
  z-index: 10;
  background: var(--clrBG_l1);
  border-right: 1px solid var(--clrBG_l2);
}

aside nav {
  background: var(--clrBG_l2);
  position: fixed;
  bottom: 0;
  width: 340px;
  height: 40px;
  text-align: center;
}

aside nav > * {
  display: inline-block;
  padding: 5px 11px;
  fill: var(--clrTEXT);
  cursor: pointer;
}

aside nav > *:hover {
  fill: var(--clrTEXT_HOVER);
}

aside nav > *.active {
  fill: var(--clrTEXT_HOVER);
  background: var(--clrBG_l1);
}

aside nav > * .nbSel {
  position: absolute;
  padding: 2px 3px;
  width: 50px;
  bottom: 0;
  margin-left: -40px;
  font-size: .7em;
  color: var(--clrTEXT_HOVER);
}

aside nav.nbNavIcons4 > * {
  padding: 5px 25px;
}

aside nav.nbNavIcons5 > * {
  padding: 5px 17px;
}

aside .panel {
  position: absolute;
  top: 0;
  bottom: 39px;
  overflow-y: overlay;
  width: 340px;
  padding-bottom: 20px;
}

aside .panel .padding {
  padding: 0 20px;
}

aside .panel .title1 {
  background: var(--clrBG);
  margin: 10px 0;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

aside .panel .title2 {
  padding: 5px 20px 0;
  font-size: 1.1em;
  font-weight: bold;
  width: calc(100% - 1px);
}

aside .panel .toggle {
  cursor: pointer;
}

aside .panel .toggle:hover {
  color: var(--clrTEXT_HOVER);
}

aside .panel .coverArea {
  border: 3px dashed var(--clrTEXT);
  padding: 2em;
  text-align: center;
  transition: .3s;
  margin: 1em 0;
  cursor: pointer;
}

aside .panel .coverArea:hover {
  font-weight: bold;
}

aside .panel .coverArea.hover {
  border: 5px dashed var(--clrACCENT);
}

aside .panel .coverAreaWithCover {
  border-top: 3px dashed var(--clrTEXT);
  border-bottom: 3px dashed var(--clrTEXT);
  margin: 1em 0;
  padding: 1em 0;
}

aside .panel .errCover {
  font-style: italic;
  color: var(--clrACCENT);
  margin-bottom: 10px;
}

aside .panel .clearCover {
  position: absolute;
  background: var(--clrBG);
  height: 50px;
  opacity: .7;
  right: 20px;
  cursor: pointer;
}

aside .panel .clearCover:hover {
  opacity: .9;
}

aside .panel .lyrics {
  position: fixed;
  background: var(--clrBG);
  top: 50px;
  left: 340px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 40px;
  z-index: 1;
  line-height: 1.7em;
  font-size: 1.1em;
}

aside .panel .btClose {
  z-index: 1;
  position: fixed;
  top: 60px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill: var(--clrTEXT);
}

aside .panel .btClose:hover {
  fill: var(--clrTEXT_HOVER);
}

aside .panel .btClear {
  cursor: pointer;
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill: var(--clrTEXT);
}

aside .panel .btClear:hover {
  fill: var(--clrTEXT_HOVER);
}

aside .panel .searchResult {
  display: flex;
  border-bottom: 1px solid var(--clrBG_l2);
  padding: .2em 20px;
  align-items: center;
  cursor: pointer;
}

aside .panel .searchResult:hover {
  background: var(--clrBG_l2);
}

aside .panel .searchResult.read {
  border-left: 2px solid var(--clrACCENT);
  padding-left: 18px;
  color: var(--clrTEXT_HOVER);
  font-style: italic;
}

aside .panel .searchResult.remove:hover {
  text-decoration: line-through;
}

aside .panel .searchResult .pointerRead {
  display: block;
  position: absolute;
  left: 7px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: var(--clrACCENT);
}

aside .panel .indexs {
  padding: 5px 20px;
}

aside .panel .indexs > * {
  background: var(--clrBG_l2);
  width: calc(100% / 9);
  height: 33px;
  line-height: 33px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--clrBG_l1);
  font-weight: bold;
}

aside .panel .indexs > *:hover {
  background: var(--clrBG);
  color: var(--clrTEXT_HOVER);
  border: 1px solid var(--clrBG_l2);
}

aside .panel .tags {
  padding: 5px 20px;
}

aside .panel .tags > * {
  background: var(--clrBG_l2);
  padding: 3px 6px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--clrBG_l1);
}

aside .panel .tags > *:hover {
  background: var(--clrBG);
  color: var(--clrTEXT_HOVER);
  border: 1px solid var(--clrBG_l2);
}

aside .panel input, aside .panel select {
  border: none;
  background: var(--clrBG_l2);
  color: var(--clrTEXT);
  width: 100%;
  padding: 5px 8px;
  font-size: 1.1em;
}

aside .panel input:focus, aside .panel select:focus {
  outline-color: var(--clrACCENT);
}

aside .panel .list {
  display: flex;
  border-bottom: 1px solid var(--clrBG_l2);
  padding: 0 20px;
  align-items: center;
}

aside .panel .list:first-child {
  margin-right: 5px;
}

aside .panel .bt {
  background: var(--clrBG_l2);
  padding: 3px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

aside .panel .bt:hover {
  background: var(--clrBG);
  fill: var(--clrTEXT_HOVER);
  color: var(--clrTEXT_HOVER);
  box-shadow: 0 5px 10px var(--clrBG_l2);
}

aside .panel .bt.btPath {
  text-align: left;
  font-size: .8em;
  width: 100%;
  background: none;
  border-bottom: 1px solid var(--clrBG_l2);
}

header .topbar {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--clrBG_l2);
  z-index: 1;
}

header .topbar .playing {
  font-size: 1.1em;
  text-align: center;
  right: 70px;
  left: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  top: 0;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  line-height: 1.1em;
}

header .topbar .playing:hover {
  color: var(--clrTEXT_HOVER);
}

header .topbar .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

header .topbar .icon > * {
  fill: var(--clrTEXT);
}

header .topbar .icon:hover > * {
  fill: var(--clrTEXT_HOVER);
  background: var(--clrBG_l1);
}

header .topbar .icon.btDisabled {
  cursor: default;
  opacity: .2;
}

header .topbar .icon.btDisabled:hover > * {
  background: transparent !important;
  fill: var(--clrTEXT);
}

header .topbar .iconRight {
  position: fixed;
  top: 0;
  right: 0;
}

header .topbar .indicatorQueue {
  position: absolute;
  left: 205px;
  top: 10px;
  font-size: .8em;
  font-weight: bold;
  color: var(--clrTEXT);
  cursor: pointer;
  background: var(--clrBG_l2);
  border-radius: 3px;
  padding: 2px 4px;
}

header .topbar .indicatorQueue:hover {
  color: var(--clrTEXT_HOVER);
  background: var(--clrBG_l1);
}

header .timeline {
  width: 0;
  height: 2px;
  background: var(--clrACCENT);
  display: block;
  position: absolute;
  z-index: 1;
  top: 48px;
}

header .timelineBt {
  display: none;
  width: 30000px;
  height: 10px;
  background: var(--clrACCENT);
  position: absolute;
  cursor: grab;
  z-index: 11;
  top: 48px;
  opacity: 1;
  background: transparent;
  border-left: 2px solid var(--clrACCENT);
}

header .timelineBt:hover {
  border-top: 2px dashed var(--clrACCENT);
}

header .timelineBt:active {
  width: 1px;
  height: 50px;
  opacity: 1;
  top: 0;
  cursor: default;
  transition: 0s;
}

header .newTime {
  display: none;
  position: absolute;
  top: 15px;
  z-index: 12;
}

.albums {
  overflow-y: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 340px;
  right: 0;
  padding: 20px;
}

.albums .albumsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  grid-gap: 20px;
  margin-bottom: 40px;
}

.bottomBar {
  background: var(--clrBG_l2);
  position: fixed;
  bottom: 0;
  left: 340px;
  right: 0;
  height: 40px;
  text-align: center;
  opacity: 0;
  transition: .2s;
  transform: translate3d(0, 20px, 0);
}

.bottomBar:hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.bottomBar > * {
  background: var(--clrBG_l2);
  width: calc(100% / 28);
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.bottomBar > *:hover {
  background: var(--clrBG);
  color: var(--clrTEXT_HOVER);
}

.ctx {
  background: var(--clrBG_l2);
  color: var(--clrTEXT);
  position: absolute;
  z-index: 1000;
  display: inline-block;
  border: 1px solid var(--clrTEXT);
  max-width: 350px;
}

.ctx .item {
  display: grid;
  grid-template-columns: auto 16px;
  grid-gap: 10px;
  align-items: center;
  font-size: .9em;
  cursor: pointer;
  padding: 4px 9px;
}

.ctx .item:hover {
  background: var(--clrTEXT);
  color: var(--clrBG_l2);
  fill: var(--clrBG_l2);
}

.ctx .item .icon {
  padding-top: 5px;
}

.ctx hr {
  border: none;
  margin: 4px 0;
  border-top: 1px solid var(--clrTEXT);
}

.ctx .ctxPointer {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--clrACCENT);
  border-radius: 50%;
}

#splash {
  background: var(--clrBG);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  text-align: center;
  z-index: 100000;
  transition-duration: 1s;
  overflow: hidden;
}

#splash img {
  outline: none;
  animation: rotating .7s linear infinite;
  position: absolute;
  bottom: calc(50% - 50px);
  width: 100px;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#splash.mask {
  transition-duration: 1s;
  opacity: 0;
}

.splashload {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--clrBG);
  text-align: center;
  font-size: 1.2em;
  padding: 100px 40px 40px 40px;
  font-style: italic;
  z-index: 20000;
}

.versionNote {
  display: block;
  font-style: normal;
  max-width: 60%;
  max-height: calc(100% - 200px);
  background: var(--clrBG_l2);
  padding: 10px;
  z-index: 20001;
  border-radius: 10px;
  margin: 1em auto;
  font-size: .9em;
}

.versionNote h1 {
  font-size: 1.1em;
  margin-top: 0;
}

.versionNote ul, .versionNote ol {
  margin-left: -15px;
  text-align: left;
}

.versionNote .bt {
  background: var(--clrTEXT);
  color: var(--clrBG);
  padding: 15px 20px;
  border-radius: 8px;
  margin: 10px 0 0;
  cursor: pointer;
}

.versionNote .bt:hover {
  background: var(--clrTEXT_HOVER);
}
/*# sourceMappingURL=style.css.map */